@import "tailwindcss";

@layer base {
  * {
    @apply border-slate-200;
  }
  body {
    @apply bg-[#F8FAFC] text-[#0F172A] antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
